* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    background-color: black;
    /* margin-top: 100px; */
    
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh; 
    border-radius: 20px;
}


.sidebar {
    background-color: hsl(207, 80%, 50%);
    color: rgb(21, 23, 23);
    grid-row: 1 / -1;
    padding: 20px;
    border-radius: 5px;
}

.sidebar-brand {
    position: fixed;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    /* margin-bottom: 50px; */
    margin-top: 10px;
}

.nav-links {
    display: grid;
    gap: 20px;
    position: fixed;
    margin-top: 65px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}


.header {
    
    background-color: rgb(222, 223, 222);
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px;
    grid-template-rows: auto auto;
    border-radius: 5px;
   
}


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    max-width: 700px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f7f9fb;
    font-size: 0.9rem;
}

.notification-section {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}
.notification-section img{
    width: 50px;
    height: 50px;
    border: 2px solid #5399f4;
    border-radius: 50%;
    object-fit: cover;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left .avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #3694e5;
    border-radius: 50%;
    object-fit: cover;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
}

.greeting-text p {
    font-size: 0.85rem;
    color: #666;
    margin: 0;
}

.greeting-text h2 {
    font-size: 1.1rem;
    color: #333;
    margin: 0;

}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-right button {
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    background-color: #4073f6;
    color: rgb(228, 247, 135);
    cursor: pointer;
    font-size: 0.9rem;
}


.user-info .avatar,
.trending-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #3795f3;
}


.main-content {
    background-color: #fefffb;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    border-radius: 5px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 1px 20px 1px 0px;
}

.project-card {
    background-color: rgb(237, 238, 239);
    padding: 20px;
    border-radius: 8px;
    border-left: 8px solid #2e96eb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.project-card p {
    color: #555;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.project-actions {
    display: flex;
    margin-left: 60%;
    gap: 1rem;
    font-size: 1.2rem;
    color: #1b1a1b;
   
}


.side-content {
    display: grid;
    gap: 20px;
    margin-top: -40px;
}

.announcements, .trending {
    background-color: rgb(234, 235, 237);
    /* padding: 5px -10px 5px -10px; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(228, 230, 231);

}

.announcement-item, .trending-item {
    margin-bottom: 24px;
}

.announcement-item h4, .trending-item span {
    font-size: 1rem;
    color: #333;
}

.announcement-item p, .trending-item p {
    font-size: 0.85rem;
    color: #555;
}


.trending-item {
    display: flex;
    align-items: center;
    gap: 10px;
}